<!-- web_page_app/templates/web_page_app/teste.html -->
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TESTE</title>
    <link rel="icon" type="image/png" href="{% static 'web_page_app/image/Logo01.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <p>TESTE</p>

    <p>Agora são: {{ now }}</p>

    <ul>
    {% for transacao in transacoes %}
        <li>{{ transacao }}</li>
    {% endfor %}
    </ul>

    <h2>Todas as Transações</h2>
    <ul>
    {% for trans in all_transacoes %}
        <li>{{ trans }}</li>
        <ul>
            <li><a href="{% url 'teste_update' trans.id %}">{{ trans.id }}</a></li>
            <li>Descrição: {{ trans.descricao }}</li>
            <li>Valor: {{ trans.valor }}</li>
            <li>Categoria: {{ trans.categoria }}</li>
            <li>Data: {{ trans.data }}</li>
            <li>Observações: {{ trans.observacoes }}</li>
        </ul>
    {% endfor %}

    <h2>Formulário de Transação</h2>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">SAVE</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>